<!-- Use icons from fontawesome when you are adding new item in the contact list  -->
<div class="sidebar-wrapper">

   <div class="profile-container">

       <img class="profile-img" src="{{site.baseurl}}/assets/images/{{ site.pic }}" alt="profile picture" />

       {% if site.name %}
       <h1 class="name">{{site.name}}</h1>
       {% endif %}

       {% if site.tagline %}
       <h3 class="tagline">{{site.tagline}}</h3>
       {% endif %}

   </div><!--//profile-container-->

   <div class="contact-container container-block">
       <ul class="list-unstyled contact-list">

          <li><i class="fa fa-home"></i>Bahnstr. 9b, CH-9323 Steinach</li>
          
          {% if site.email %}
           <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{site.email}}">{{site.email}}</a></li>
           {% endif %}

           {% if site.phone %}
           <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{site.phone}}">{{site.phone}}</a></li>
           {% endif %}

           {% if site.website %}
           <li class="website"><i class="fa fa-globe"></i><a href="http://{{site.website}}" target="_blank">{{site.website}}</a></li>
           {% endif %}
        
           <li><i class="fa fa-birthday-cake"></i>18.11.1981</li>
           <li><i class="fa fa-car"></i>Eigenes Auto/Kat. B</li>
           <li><i class="fa fa-flag"></i>Schweizer</li>

          
       </ul>
   </div><!--//contact-container-->

  {% if site.education_in_main == null or site.education_in_main == false %}
    {% include education.html %}
  {% endif %}
  {% include language.html %}
  {% include interests.html %}
  {% if site.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
